@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<FluentLayout>
	<FluentHeader>
		<FluentStack VerticalAlignment="VerticalAlignment.Center">
			Fluent Theme
		</FluentStack>
	</FluentHeader>

	<FluentLabel Typo="Typography.Subject">
		Demo is on the <a href="Test">Test</a> page.
	</FluentLabel>
</FluentLayout>
